body
{
	background-color:#d3dfe8!important;
}
.center
{
	  background-color:white;
	  padding:40px;
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	  position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius:10px;
}

.button
{
	color:white;
	background-color:#0d6efd;
	border-radius:5px;
	width:70px;
	height:40px!important;
	padding:0;
}

.buttons
{
	padding-top:20px;
}